@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--branco);
  color: var(--preto);
}

:root {
  --branco: white;
  --preto: #101414;
  --bgswitcher: rgba(0, 0, 0, 0.2);
  --bglinks: #ffbc34;
}

.dark {
  --branco: #101414;
  --preto: white;
  --bgswitcher: rgba(255, 255, 255, 0.2);
  --bglinks: #2f51a0;
}

#main-container {
  width: 350px;
  margin: 25px auto 0px auto;
  position: relative;
}

#container {
  width: 350px;
  position: absolute;
  z-index: 1;
  display: none;
}

#verso {
  position: absolute;
  width: 350px;
  height: 578px;
  background-color: var(--branco);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#verso > img {
  width: 200px;
}

#verso > button {
  background-color: var(--bglinks);
  width: 180px;
  font-size: 24px;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid var(--preto);
  color: var(--preto);
}

#topo {
  height: 50%;
  background: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  background-color: var(--branco);
  border: none;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}
.foto {
  width: 220px;
}

#baixo {
  width: 100%;
  height: 50%;
  background-color: var(--branco);
}
.nome {
  text-align: center;
  padding-top: 10px;
}

.nome > h1 {
  font-size: 30px;
}

.nome > p {
  font-size: 18px;
}

.switcher {
  position: relative;
  width: 48px;
  margin: 4px auto;
  cursor: pointer;
}

.switcher > button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--preto);
  border: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.dark .switcher button {
  left: initial;
  right: 0;
}

.switcher > span {
  display: block;
  width: 48px;
  height: 16px;
  background: var(--bgswitcher);
  border: 1px solid (var(--preto));
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.links {
  margin: 20px auto 0px auto;
  background-color: var(--bglinks);
  border: 1px solid var(--preto);
  width: 90%;
  height: 70px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links > a {
  color: var(--preto);
  font-size: 40px;
  padding: 11px 5px 5px 0px;
}

footer {
  margin: 40px 0px 0px 0px;
  padding-bottom: 20px;
  text-align: center;
}

footer > button {
  text-align: center;
  font-size: 20px;
  color: var(--branco);
  padding: 5px;
  margin: 0px 0px 10px 0px;
  background-color: var(--preto);
  border: none;
  border-radius: 20px;
}
